# Ignore node_modules (dependencies will be installed inside the container)
node_modules

# Ignore build output
.next

# Ignore local environment files
.env
.env.local
.env.development
.env.production

# Ignore system files
.DS_Store
.vscode
.git
.gitignore